   jobs:
     build:
       runs-on: ubuntu-latest
       env:
         VITE_NASA_API_KEY: ${{ secrets.VITE_NASA_API_KEY }}
       steps:
         - name: Checkout repository
           uses: actions/checkout@v4

         - name: Setup Node
           uses: actions/setup-node@v4
           with:
             node-version: 22

         - name: Install dependencies
           run: npm install

         - name: Build Vite app
           run: npm run build

         - name: Upload build artifact
           uses: actions/upload-pages-artifact@v3
           with:
             path: ./dist